.teacup {
    position: relative;
    top: 50px;
}

.cup {
    position: relative;
    width: 200px;
    height: 200px;
    background: linear-gradient(to right, #f9f9f9,#d9d9d9);
    border-bottom-left-radius: 45%;
    border-bottom-right-radius: 45%;
}

.top {
    position: absolute;
    top: -30px;
    left: 0;
    width: 100%;
    height: 60px;
    background: linear-gradient(to right, #f9f9f9,#d9d9d9);
    border-radius: 50%;
}

.circle {
    position: absolute;
    top: 5px;
    left: 10px;
    width: calc(100% - 20px);
    height: 50px;
    background: linear-gradient(to left, #f9f9f9,#d9d9d9);
    border-radius: 50%;
    overflow: hidden;
}

.tea {
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#c56e65, #e28462);
    border-radius: 50%;
}

.handle {
    position: absolute;
    right: -50px;
    top: 20px;
    width: 120px;
    height: 120px;
    border: 25px solid #d9d9d9;
    border-radius: 50%;
    border-left: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-radius: 50%;
    transform: rotate(42deg);
}

.plate {
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    height: 120px;
    background: linear-gradient(to right, #f9f9f9,#d9d9d9);
    border-radius: 50%;
    box-shadow: 0 35px 35px rgba(0,0,0,0.2);
}

.plate::before {
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    border-radius: 50%;
    background: linear-gradient(to left, #f9f9f9,#d9d9d9);
}

.plate::after {
    content: '';
    position: absolute;
    top: 30px;
    left: 30px;
    right: 30px;
    bottom: 30px;
    background: radial-gradient(rgba(0,0,0,0.2) 25%, transparent, transparent);
    border-radius: 50%;
}

.vapour {
    position: relative;
    display: flex;
    z-index: 1;
    padding: 0 20px;
}

.vapour span {
    position: relative;
    bottom: 80px;
    display: block;
    margin: 0 2px 50px;
    min-width: 9px;
    height: 120px;
    background: white;
    border-radius: 50%;
    animation: animate 5s linear infinite;
    filter: blur(8px);
    animation-delay: calc(var(--i) * -0.5s);
}

.teacup__background {
    background: rgb(255, 139, 30);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.teacup__sizing {
    transform: scale(0.7);
}

@keyframes animate {
    0% {
        transform: translateY(0) scale(1);
        opacity: 0;
    }
    15% {
        opacity: 1;
    }
    50% {
        transform: translateY(-50px) scaleX(5);
    }
    95% {
        opacity: 0;
    }
    100% {
        transform: translateY(-100px) scaleX(10);
        opacity: 0;
    }

}