/* Footer ----------------------------------------------------------------------*/
footer {
    width: 100%;
}

.footer__content {
    width: 100%;
    min-width: 768px;
    height: 250px;
    background-color: #242424;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #bdbdbd;
    z-index: 2;
}

.footer__logo {
    width: 70px;
    height: 70px;
    margin: 10px;
}

.footer__social-links {
    display: flex;
    justify-content: space-between;
    transform: translateX(-10px);
    width: 300px;
    margin: 30px;
    font-weight: 700;
    font-size: 16px;
}

.footer__social-link {
    position: relative;
}

.footer__social-link:after {
    content: "";
    position: absolute;
    height: 3px;
    background-color: #bdbdbd;
    width: 0;
    bottom: -4px;
    right: 0;
    transition: all 300ms ease;
}

.footer__social-link:hover:after {
    width: 100%;
    left: 0;
}
.copyright {
    font-size: 12px;
}

.footer__anchor {
    position: relative;
}

.footer__logo__popper {
    position: absolute;
    color: #bdbdbd;
    left: 15px;
    top: -40px;
    transition: all 300ms;
    opacity: 0;
}

.footer__logo__popper:before {
    content:"";
    position: absolute;
    color: #bdbdbd;
    left: 15px;
    top: -40px;
}

.footer__anchor:hover .footer__logo__popper {
    transform: translate(55px);
    opacity: 1;
}

/* Responsive Design ---------------------------------------------------------------------------*/

@media (max-width: 768px) {
    .footer__content {
        min-width: 300px;
    }

    .footercontainer {
        min-width: 0;
        width: 100%;
    }
}

@media (max-width: 370px) {
    .footer__social-links {
        width: 200px;
    }
}