nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    height: 100px;
    padding: 0 50px;
    z-index: 10;
}

.logo {
  
    width: 70px;
    height: 70px;
}

.nav__link--list {
    display: flex;
    width: fit-content;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.nav__link--item {
    display: flex;
    align-items: center;
    color: black;
    text-decoration: none;
    font-weight: 700;
    position: relative;
    margin: 0 10px;
}

.nav__link--item:not(:last-child):after {
    content: "";
    position: absolute;
    height: 3px;
    background-color: black;
    width: 0;
    bottom: -4px;
    right: 0;
    transition: all 300ms ease;
}

.nav__link--item:not(:last-child):hover:after {
    width: 100%;
    left: 0;
}

.nav__link--item:last-child {
    transition: 100ms;
}

.nav__link--item:last-child:hover {
    transform: scale(1.5);
}

.btn__menu {
    display: none;
}

.menu__backdrop {
    display: none;
}

/* Responsive Design */

@media (max-width: 768px) {
    nav {
        min-width: 300px;
        padding: 0 50px;
    }
}

@media (max-width: 480px) {
    .nav__link--list {
        display: none;
    }

    .btn__menu {
        display: flex;
        width: 30px;
        height: 30px;
        font-size: 30px;
        padding: 0;
        background: none;
        border: none;
        color: #242424;
    }
    
    .menu__backdrop {
        position: fixed;
        width: 100%;
        height: 100%;
        background-color:#242424;
        color: white;
        z-index: 3;
        top: 0;
        transform: translateX(-50px);
        justify-content: center;
        align-items: center;
    }

    .menu--open .menu__backdrop {
        display: flex;
    }

    .btn__menu--close {
        position: absolute;
        right: 50px;
        top: 30px;
        color: white;
    }

    .btn__menu--list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .btn__menu--item {
        font-size: 40px;
        margin: 20px 0;
    }
}